<!DOCTYPE html>
<html>
<head>
	<title>P5 oving!</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js"></script>
	<script type="text/javascript" src="/spaceinvaders/sketch.js"></script>
	<script type="text/javascript" src="/spaceinvaders/ship.js"></script>
	<script type="text/javascript" src="/spaceinvaders/drop.js"></script>
	<script type="text/javascript" src="/spaceinvaders/aliens.js"></script>
	
</head>
<body>

<p1>hiwehiwhe</p1>


</body>
</html>