<!DOCTYPE html>
<html>
<head>
	<title>P5 oving!</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js"></script>
	<script type="text/javascript" src="/spaceinvaders/sketch.js"></script>
	<script type="text/javascript" src="/spaceinvaders/ship.js"></script>
	<script type="text/javascript" src="/spaceinvaders/drop.js"></script>
	<script type="text/javascript" src="/spaceinvaders/aliens.js"></script>
	
</head>
<body>
	<% include ../../partials/header %>
	<% include ../../partials/profilheader %>
	
	
	<div class ="ui container segment" >
  
   <div class="ui grid">
      <div class="four wide column">
         <div class="ui card ">
            <div class="image">
               <% try { %>
               <% if (brukeren[0].avatar === null) {%>
               <img src="http://www.msecmarketing.com/wp-content/uploads/2017/01/default.gif">
               <% } else { %>
               <img src="<%= brukeren[0].avatar %>"> 
               <% } %>
               <% }catch(err) { %>
               <img src="http://www.msecmarketing.com/wp-content/uploads/2017/01/default.gif">
               <% } %>
            </div>
         </div>
         <hr>
         <div class="content">
            <a class="header">
               <% try { %>
                 <%= brukeren[0].username %>
               <% } catch(err) { %>
                 <script>
                    document.querySelector(".header").innerHTML = "finner ikke brukernavn";
                 </script>
               <% } %>
            </a>
            <div class="meta">
               <span class="date">Create in Sep 2014</span>
               <p>Lorem Ipsum er rett og slett dummytekst fra og for trykkeindustrien. Lorem Ipsum har vært bransjens standard for dummytekst helt siden 1500-tallet</p>
            </div>
            <div class="extra content">
               <a>
               <i class="users icon"></i>
               2 Members
               </a>
            </div>
         </div>
         
      </div> <!-- four wide column -->
      <div class="twelve wide column"id='myContainer'></div>
      
     </div><!--CONTAINER -->
	



</body>
</html>