
<% if(currentUser) { %>

  <ul class="nav nav-tabs senter test">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/<%= currentUser.username %>">Profile</a></li>
  <li role="presentation"><a href="/<%= currentUser.username %>/settings">Settings</a></li>
  <li role="presentation"><a href="/ranking">Ranking</a></li>
  <li role="presentation"><a href="/games">Games!</a></li>
</ul>

<script type="text/javascript" src="/js/header.js"></script>

<% } %>







<% include ./footer %>