<% include ./partials/header %>
<% include ./partials/profilheader %>



<div class ="ui container segment" >
   <div class="ui grid">
      <div class="four wide column">
              <iframe style="width:630px; height: 430px;"src="/games/spaceinvaders"></iframe>
      </div>
      <div class="four wide column">
          <h1>dette er games</h1>
      </div>
   </div>
</div>




<% include ./partials/footer %>