.overskrift {
    padding-top: 10px;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
}
.overskrift h4 {
    margin-top: 0px;
}
.knapp {
    float: right;
    margin-right: 50%; 
}
#nyeUtfordringer {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: green;
    
}

#space-h3 {
    color: #0aa10a;
    text-decoration: none;
}

.overskrift > h1 {
    color: green;
}

.overskrift > h4 {
    text-transform: capitalize;
    
}
h1.arena {
    text-transform: capitalize;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}
h1.first-section {
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
}
#opponent{
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
}
#battlearena-overskrift , .overskrift > h4, #challenge-overskrift  {
    text-transform: capitalize;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}

/* NEW CHALLENGE  */

