
.senter {
    display: block;
    margin: auto;
    width: 40%;
}

.profilBilder {
    margin: 20px 250px;
    
}

.myScore {
        margin:0;
        position: absolute;
        padding-left: 15%;
        padding-top: 25px;
        float: left;
        z-index: 1;
        color: white;
}



