

.profilBilder {
    margin: 20px 250px;
    
}

.myScore {
        margin:0;
        position: absolute;
        padding-left: 15%;
        padding-top: 25px;
        float: left;
        z-index: 1;
        color: white;
}

.first-section {
    margin-top: 20%;
}
#brukeren {
    font-size: 1.7em;
    color: #4183c4;
    text-transform: uppercase;
    text-decoration: underline;
    font-style: bold;
}
#dato {
    padding-top: 13px;
}

span.date{
    font-style: italic;
}

