
p#scoren {
    display: inline;
    position: absolute;
    padding-left: 10px;
    font-size: 34px;
    color: white;
    margin: 0;
}
#minContainer{
    text-align: center;
    position: relative;
}

table thead tr th {
    width: 95%;
}
#justert {
    margin-top: 40px;
}

#justert > thead > tr > th:nth-child(1){
    width: 20%;
}
#justert > thead > tr > th:nth-child(2){
    color: #48c3ff;
    width: 12%;
}
#justert > thead > tr > th:nth-child(3) {
    color: #48c3ff;
    width: 19%;
}
#justert > thead > tr > th:nth-child(4){
    width: 12%;
    color: #ecd004;
}
#justert > thead > tr > th:nth-child(5) {
    color: #ecd004;
    width: 11%;
}
#justert > thead {
    font-size:1.4em;
}
#justert > tbody {
    font-size: 1.2em;
    text-transform: uppercase;
}

#justert > tbody > tr > td:nth-child(6) {
    text-align: center;
}
#justert > thead > tr > th:nth-child(6) {
    text-align: center;
}

h3 {
    color: rgba(30, 112, 191, 0.82);
    text-align: center;
    font-size: 1.9em;
    text-decoration: underline;
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 23px;
}

.strek {
    border: 0.4px solid #ddd;
    margin: 43px 132px;
}
#overskrift-show {
    margin-top: 23px;
    text-transform: uppercase;
}
#beskrivelse {
    padding-top: 3%;
}