<!DOCTYPE html>
<html>
<head>
	<title>P5 oving!</title>
	
	<script type="text/javascript" src="/spaceinvaders/sketch.js"></script>
	<script type="text/javascript" src="/spaceinvaders/ship.js"></script>
	<script type="text/javascript" src="/spaceinvaders/drop.js"></script>
	<script type="text/javascript" src="/spaceinvaders/aliens.js"></script>
	
</head>
<body>

<% include ../partials/header %>

<div class="ui container">
    
    <div class ="overskrift">
        <h1>Challenge: </h1>
        <h4><%= battle.utfordrer.username%> vs <%= battle.motstander.username%></h4>
    </div>
    <div class="gamecontent">
        <div id="minContainer">
            <p id="scoren"></p>
            <p id="test"></p>
        </div>
    </div>
    <%console.log("fra challenge filen: battle id " + battle._id + " player_Id: " + currentUser.id)%>
    
    <form action="/battle/<%= battle._id + "/" + currentUser.id%>?_method=PUT" method="POST">
         <div class="form-group">
             
             <button onclick="submitScore()" id="finalScore" class="btn btn-lg btn-primary btn-block" type="Submit" name="score">Submit Score!</button>
                 <script type="text/javascript">
                     function submitScore(){
                         var score = document.querySelector("#scoren").firstChild.innerHTML;
                         if(score){
                             document.querySelector("#finalScore").value = score;
                         }else {
                             document.querySelector("#finalScore").value = null;
                         }
                     }
                 </script>
         </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</div>

<% include ../partials/footer %>