<% include ../partials/header %>
<div="container segment">
    <div>
        <h1>Challenge: <%= battle.spillere[0].username%> vs <%= battle.spillere[1].username%></h1>
        
    </div>
    
    
    <p>
        beskrivelse: <%= battle.spill.beskrivelse %>
    </p>
    
</div>

<% include ../partials/footer %>