<% include ../partials/header %>


<div class="ui container">
    <h1 class>landing page til battle arena!</h1>
    <div class ="ui grid">
        <div class="twelve wide column">
            <p>jiwjejiwe</p>
        </div>
        <div class="four wide columd">
            <p>heiewhw</p>
        </div>
    </div>
    <div class="ui three column grid">
  <div class="column">
    <div class="ui segment">
        <p>Challenge a player to a battle!!</p>
      <i class="fa fa-gamepad fa-5x" aria-hidden="true"></i>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
        <p>Show match history!</p>
      <img>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
        <p>Ranking!</p>
      <img>
    </div>
  </div>
</div>
    

</div>




<% include ../partials/footer %>