<% include ../partials/header %>


<div class="ui container">
    <h1 class="first-section arena" id="battlearena-overskrift">Welcome To Battle Arena!</h1>
    <div class ="ui grid">
        <div class="twelve wide column">
            <% try {%> 
               <%user.utfordringer%>
               <p><a href="#"><span id="nyeUtfordringer"> Nye Utfordringer!!</span></a></p>
                <div id ="utfordringene">
                <ul style="display:block">
                     fra 
                    <%for(var i = 0; i < user.utfordringer.length; i++){%>
                        <li><%=user.utfordringer[i].utfordrer%> </li>
                    <% }%>
                </ul>
           <% }catch(err) {%>
              
           <% }%>
            
                

                <!-- LEGGER TIL UTFORDRINGER HER! -->
            </div>
        </div>
        <div class="four wide columd">
            <p></p>
        </div>
    </div>
    <!--<a><input type="submit" value="decline" name="slett_btn"><input type="hidden" value="'" name="slett"></a>-->
<div class="ui three column grid">
  <div class="column content-container" >
      <div class="ui segment">
          <section class="section-first">
              <p class="challenge-text"><a href="battle/new">Challenge a Player!</a></p>
              <img src="http://vignette3.wikia.nocookie.net/wartune/images/6/69/Arena_Battle_Background.jpeg/revision/latest?cb=20140611222320" id="section-challenge">
              <i id="icon-left" class="fa fa-gamepad fa-5x" aria-hidden="true"></i>
              <i id="icon-right" class="fa fa-gamepad fa-5x" aria-hidden="true"></i>
           </section>
       </div>
      
    </div>
  <div class="column content-container">
    <div class="ui segment">
        <section class="section-first" style="padding-bottom: 48px;">
            <p class="challenge-text"><a href="battle/history">Show match history!</a></p>
             <div>
                 <img src="http://2.bp.blogspot.com/-7ClRJ5MG1t4/VqdjkmBs0-I/AAAAAAAAE24/iRKMUE5BLIM/s640/StelfoxMikeTiltshiftAbstract2.jpg">
             </div>
        </section>
    </div>
  </div>
  <div class="column content-container">
    <div class="ui segment">
        <section class="section-first" style="padding-bottom: 48px;">
            <p class="challenge-text"><a href="/ranking">Ranking!</a></p>
            <div>
                 <img src="https://s-media-cache-ak0.pinimg.com/originals/fd/46/a1/fd46a1497479833914247b0c37314d44.jpg">
             </div>
        </section>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
    var span = document.querySelector('#utfordringene ul');
   
    $(document).ready(function(){
        $("span").click(function(){
            console.log("hei")
            $(span).toggle();
        });
    });
</script>

<% include ../partials/footer %>