<% include ../partials/header %>


<div class="ui container">
    <h1 class>landing page til battle arena!</h1>
    <div class ="ui grid">
        <div class="twelve wide column">
            <%if(antallUtfordringer){%>
            <p><a href="#"><span id="nyeUtfordringer"><%= antallUtfordringer %> Nye Utfordringer!!</span></a></p>
            <% }%>
            <div id ="utfordringene">
                <!-- LEGGER TIL UTFORDRINGER HER! -->
                <ul>
                    
                </ul>
            </div>
        </div>
        <div class="four wide columd">
            <p></p>
        </div>
    </div>
    <div class="ui three column grid">
  <div class="column">
    <div class="ui segment">
        <p><a href="battle/new">Challenge a player to a battle!!</a></p>
      <i class="fa fa-gamepad fa-5x" aria-hidden="true"></i>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
        <p><a href="battle/history">Show match history!</a></p>
      <img>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
        <p><a href="/ranking">Ranking!</a></p>
      <img>
    </div>
  </div>
</div>
    

</div>


<script type="text/javascript">
    var str = "<%=idArray%>";
    var tab = str.split(",");
    var currentUser = "<%=currentUser.id%>";
    //viser utfordrine til spilleren. 
    $("span").on("click", function(event){
            for(var i = 0; i < tab.length; i ++){
                $("#utfordringene ul").append("<li><span><i class='fa fa-hourglass'></i></span><a href="+'battle/'+tab[i]+'/'+currentUser+">"+tab[i]+"</a></li>");
            }
    });
</script>

<% include ../partials/footer %>