<% include ../partials/header %>
<h1>dette er battle sin landingsside, implementer utford user og ..</h1>
<a href="/battle/new">Challenge an opponent to a battle </a>


<% include ../partials/footer %>