<% include ../partials/header %>

<h1>dette er games sin hjemme side</h1>

<p><a href="/<%= currentUser.username %>/games/spaceinvaders"> link til spaceinvaders</a></p>
<p><a href="/battle"> link til battle</a></p>
<p><a href="/games/test"> link til test</a></p>
<% include ../partials/footer %>

